service: cora-backend

provider:
  name: aws
  runtime: nodejs22.x
  region: us-east-1
  role: arn:aws:iam::${aws:accountId}:role/LabRole
  stage: dev
  timeout: 29
  environment:
    ALLERGIES_TABLE: CORA_Allergies
    TYPE_ALLERGIES_TABLE: CORA_TypeAllergies
    TYPE_MEDS_TABLE: CORA_TypeMeds
    MEDS_TABLE: CORA_Meds
    BLOOD_TYPE_TABLE: CORA_BloodType
    RECIPE_TABLE: CORA_Recipe
    SPECIALTY_TABLE: CORA_Specialty
    PROCEDURE_TYPE_TABLE: CORA_TypeProcedure
    EXAM_TYPE_TABLE: CORA_TypeExam
    PROCEDURE_TABLE: CORA_Procedure
    PROFESSIONAL_TABLE: CORA_Professional
    EXAM_TABLE: CORA_Exam
    DIAGNOSIS_TABLE: CORA_Diagnosis
    CONSULTATION_TABLE: CORA_Consultation
    MEDICAL_RECORDS_TABLE: CORA_Medical_Record
    HISTORIC_CONSULTATION_TABLE: CORA_HistoricConsultation
    CONNECTIONS_TABLE: CORA_ws-connections-${sls:stage}

  httpApi:
    cors:
      allowedOrigins:
        - "*"
      allowedHeaders:
        - Content-Type
        - Authorization
      allowedMethods:
        - OPTIONS
        - GET
        - POST

resources:
  Resources:
    HistoricConsultationTable:
      Type: AWS::DynamoDB::Table
      Properties:
        TableName: ${self:provider.environment.HISTORIC_CONSULTATION_TABLE}
        BillingMode: PAY_PER_REQUEST
        AttributeDefinitions:
          - AttributeName: idHistorialConsulta
            AttributeType: S
        KeySchema:
          - AttributeName: idHistorialConsulta
            KeyType: HASH
        StreamSpecification:
          StreamViewType: NEW_AND_OLD_IMAGES

    ConnectionsTable:
      Type: AWS::DynamoDB::Table
      Properties:
        TableName: CORA_ws-connections-${sls:stage}
        BillingMode: PAY_PER_REQUEST
        AttributeDefinitions:
          - AttributeName: connectionId
            AttributeType: S
        KeySchema:
          - AttributeName: connectionId
            KeyType: HASH

    AllergiesTable:
      Type: AWS::DynamoDB::Table
      Properties:
        TableName: CORA_Allergies
        BillingMode: PAY_PER_REQUEST
        AttributeDefinitions:
          - AttributeName: userId
            AttributeType: S
          - AttributeName: idAlergia
            AttributeType: S
        KeySchema:
          - AttributeName: userId
            KeyType: HASH
          - AttributeName: idAlergia
            KeyType: RANGE

    ConsultationsTable:
      Type: AWS::DynamoDB::Table
      Properties:
        TableName: CORA_Consultation
        BillingMode: PAY_PER_REQUEST
        AttributeDefinitions:
          - AttributeName: userId
            AttributeType: S
          - AttributeName: idConsulta
            AttributeType: S
        KeySchema:
          - AttributeName: userId
            KeyType: HASH
          - AttributeName: idConsulta
            KeyType: RANGE

    MedsTable:
      Type: AWS::DynamoDB::Table
      Properties:
        TableName: CORA_Meds
        BillingMode: PAY_PER_REQUEST
        AttributeDefinitions:
          - AttributeName: idMedicamento
            AttributeType: S
        KeySchema:
          - AttributeName: idMedicamento
            KeyType: HASH

    RecipesTable:
      Type: AWS::DynamoDB::Table
      Properties:
        TableName: CORA_Recipe
        BillingMode: PAY_PER_REQUEST
        AttributeDefinitions:
          - AttributeName: userId
            AttributeType: S
          - AttributeName: idReceta
            AttributeType: S
        KeySchema:
          - AttributeName: userId
            KeyType: HASH
          - AttributeName: idReceta
            KeyType: RANGE

    ProceduresTable:
      Type: AWS::DynamoDB::Table
      Properties:
        TableName: CORA_Procedure
        BillingMode: PAY_PER_REQUEST
        AttributeDefinitions:
          - AttributeName: userId
            AttributeType: S
          - AttributeName: idProcedimiento
            AttributeType: S
        KeySchema:
          - AttributeName: userId
            KeyType: HASH
          - AttributeName: idProcedimiento
            KeyType: RANGE

    ProfessionalsTable:
      Type: AWS::DynamoDB::Table
      Properties:
        TableName: CORA_Professional
        BillingMode: PAY_PER_REQUEST
        AttributeDefinitions:
          - AttributeName: idProfesional
            AttributeType: S
        KeySchema:
          - AttributeName: idProfesional
            KeyType: HASH

    ExamsTable:
      Type: AWS::DynamoDB::Table
      Properties:
        TableName: CORA_Exam
        BillingMode: PAY_PER_REQUEST
        AttributeDefinitions:
          - AttributeName: userId
            AttributeType: S
          - AttributeName: idExamen
            AttributeType: S
        KeySchema:
          - AttributeName: userId
            KeyType: HASH
          - AttributeName: idExamen
            KeyType: RANGE

    DiagnosisesTable:
      Type: AWS::DynamoDB::Table
      Properties:
        TableName: CORA_Diagnosis
        BillingMode: PAY_PER_REQUEST
        AttributeDefinitions:
          - AttributeName: userId
            AttributeType: S
          - AttributeName: idDiagnostico
            AttributeType: S
        KeySchema:
          - AttributeName: userId
            KeyType: HASH
          - AttributeName: idDiagnostico
            KeyType: RANGE

    MedicalRecordsTable:
      Type: AWS::DynamoDB::Table
      Properties:
        TableName: CORA_Medical_Record
        BillingMode: PAY_PER_REQUEST
        AttributeDefinitions:
          - AttributeName: userId
            AttributeType: S
        KeySchema:
          - AttributeName: userId
            KeyType: HASH

plugins:
  - serverless-offline
  - serverless-prune-plugin

custom:
  prune:
    automatic: true
    number: 2

functions:
  #Allergies
  allergiesHandler:
    handler: src/handlers/alergias.allergiesHandler
    events:
      - httpApi:
          path: /allergies
          method: ANY

      - httpApi:
          path: /allergies/{proxy+}
          method: ANY

  # Type Allergy
  typeAllergiesHandler:
    handler: src/handlers/tipoAlergia.typeAllergiesHandler
    events:
      - httpApi:
          path: /typeAllergies
          method: ANY
      - httpApi:
          path: /typeAllergies/{proxy+}
          method: ANY

  #MedsType
  typeMedsHandler:
    handler: src/handlers/tipoMedicamento.typeMedsHandler
    events:
      - httpApi:
          path: /typeMeds
          method: ANY
      - httpApi:
          path: /typeMeds/{proxy+}
          method: ANY

  #Meds
  medsHandler:
    handler: src/handlers/medicamento.medsHandler
    events:
      - httpApi:
          path: /meds
          method: ANY
      - httpApi:
          path: /meds/{proxy+}
          method: ANY

  #BloodType
  bloodTypesHandler:
    handler: src/handlers/tipoSangre.bloodTypesHandler
    events:
      - httpApi:
          path: /bloodTypes
          method: ANY
      - httpApi:
          path: /bloodTypes/{proxy+}
          method: ANY

  #Recipe
  recipesHandler:
    handler: src/handlers/receta.recipesHandler
    events:
      - httpApi:
          path: /recipes
          method: ANY
      - httpApi:
          path: /recipes/{proxy+}
          method: ANY

  #Specialties
  specialtiesHandler:
    handler: src/handlers/especialidad.specialtiesHandler
    events:
      - httpApi:
          path: /specialties
          method: ANY
      - httpApi:
          path: /specialties/{proxy+}
          method: ANY

  #TipoProcedimiento
  procedureTypesHandler:
    handler: src/handlers/tipoProcedimiento.procedureTypesHandler
    events:
      - httpApi:
          path: /procedureTypes
          method: ANY
      - httpApi:
          path: /procedureTypes/{proxy+}
          method: ANY

  #TipoExamen
  examTypeHandler:
    handler: src/handlers/tipoExamen.examTypeHandler
    events:
      - httpApi:
          path: /examType
          method: ANY

      - httpApi:
          path: /examType/{proxy+}
          method: ANY


  #Procedure
  proceduresHandler:
    handler: src/handlers/procedimiento.proceduresHandler
    events:
      - httpApi:
          path: /procedures
          method: ANY

      - httpApi:
          path: /procedures/{proxy+}
          method: ANY

  #Professional
  professionalsHandler:
    handler: src/handlers/profesional.professionalsHandler
    events:
      - httpApi:
          path: /professionals
          method: ANY
      - httpApi:
          path: /professionals/{proxy+}
          method: ANY      

  #Exam
  examsHandler:
    handler: src/handlers/examen.examsHandler
    events:
      - httpApi:
          path: /exams
          method: ANY
      - httpApi:
          path: /exams/{proxy+}
          method: ANY

  #Diagnosis
  diagnosisesHandler:
    handler: src/handlers/diagnostico.diagnosisesHandler
    events:
      - httpApi:
          path: /diagnosises
          method: ANY
      - httpApi:
          path: /diagnosises/{proxy+}
          method: ANY

  #Consultation
  consultationsHandler:
    handler: src/handlers/consulta.consultationsHandler
    events:
      - httpApi:
          path: /consultations
          method: ANY
      - httpApi:
          path: /consultations/{proxy+}
          method: ANY

  #Ficha Medica
  medicalRecordsHandler:
    handler: src/handlers/ficha_medica.medicalRecordsHandler
    events:
      - httpApi:
          path: /medicalRecords
          method: ANY
      - httpApi:
          path: /medicalRecords/{proxy+}
          method: ANY

  #Historical Consultations

  getHistoricConsultations:
    handler: src/handlers/historial_consulta.getHistoricConsultations
    events:
      - httpApi:
          path: /HistoricConsultations
          method: GET

  getHistoricConsultation:
    handler: src/handlers/historial_consulta.getHistoricConsultation
    events:
      - httpApi:
          path: /HistoricConsultations/{id}
          method: GET

  createHistoricConsultation:
    handler: src/handlers/historial_consulta.createHistoricConsultation
    events:
      - httpApi:
          path: /HistoricConsultations
          method: POST

  deleteHistoricConsultation:
    handler: src/handlers/historial_consulta.deleteHistoricConsultation
    events:
      - httpApi:
          path: /HistoricConsultations/delete/{id}
          method: DELETE

  streamHistoricConsultation:
    handler: src/handlers/historial_consulta.streamHistoricConsultation
    environment:
      SERVICE_NAME: ${self:service}
      REGION: ${self:provider.region}
    events:
      - stream:
          type: dynamodb
          arn:
            Fn::GetAtt:
              - HistoricConsultationTable
              - StreamArn

  connectionsHistoricConsultation:
    handler: src/handlers/historial_consulta.connectionsHistoricConsultation
    events:
      - websocket:
          route: $connect
      - websocket:
          route: $disconnect

  #Randomizer
  randomizeData:
    handler: src/handlers/randomizer.randomize
    events:
      - httpApi:
          path: /randomize
          method: GET
