service: cora-backend

provider:
  name: aws
  runtime: nodejs22.x
  region: us-east-2
  role: arn:aws:iam::626218016489:role/LabRole
  stage: dev
  timeout: 60
  environment:
    ALLERGIES_TABLE: Allergies
    TYPE_ALLERGIES_TABLE: TypeAllergies
    TYPE_MEDS_TABLE: TypeMeds
    MEDS_TABLE: Meds
    BLOOD_TYPE_TABLE: BloodType
    RECIPE_TABLE: Recipe
    SPECIALTY_TABLE: Specialty
    PROCEDURE_TYPE_TABLE: TypeProcedure
    EXAM_TYPE_TABLE: TypeExam
    PROCEDURE_TABLE: Procedure
    PROFESSIONAL_TABLE: Professional
    EXAM_TABLE: CORA_Exam
    DIAGNOSIS_TABLE: CORA_Diagnosis
    CONSULTATION_TABLE: CORA_Consultation
    PATIENT_TABLE: CORA_Patient
    HISTORIC_CONSULTATION_TABLE: CORA_HistoricConsultation
    CONNECTIONS_TABLE: ws-connections-${sls:stage}

  httpApi:
    cors:
      allowedOrigins:
        - '*'
      allowedHeaders:
        - Content-Type
        - Authorization
      allowedMethods:
        - OPTIONS
        - GET
        - POST

resources:
  Resources:
    HistoricConsultationTable:
      Type: AWS::DynamoDB::Table
      Properties:
        TableName: ${self:provider.environment.HISTORIC_CONSULTATION_TABLE}
        BillingMode: PAY_PER_REQUEST
        AttributeDefinitions:
          - AttributeName: idHistorialConsulta
            AttributeType: S
        KeySchema:
          - AttributeName: idHistorialConsulta
            KeyType: HASH
        StreamSpecification:
          StreamViewType: NEW_AND_OLD_IMAGES
    
    ConnectionsTable:
      Type: AWS::DynamoDB::Table
      Properties:
        TableName: ws-connections-${sls:stage}
        BillingMode: PAY_PER_REQUEST
        AttributeDefinitions:
          - AttributeName: connectionId
            AttributeType: S
        KeySchema:
          - AttributeName: connectionId
            KeyType: HASH

plugins:
  - serverless-offline
  - serverless-prune-plugin

custom:
  prune:
    automatic: true
    number: 2

functions:
#Allergies
  initializeAllergies:
      handler: src/handlers/alergias.initializeTable
      events:
        - httpApi:
            path: /allergies/initializeAllergies
            method: GET

  getAllergies:
    handler: src/handlers/alergias.getAllergies
    events:
      - httpApi:
          path: /allergies/{userId}
          method: GET

  filterAllergies:
    handler: src/handlers/alergias.filterAllergies
    events:
      - httpApi:
          path: /allergies/{userId}/filter/{filter}
          method: GET

  createAllergy:
    handler: src/handlers/alergias.createAllergy
    events:
      - httpApi:
          path: /allergies
          method: POST

  updateAllergy:
    handler: src/handlers/alergias.updateAllergy
    events:
      - httpApi:
          path: /allergies/{userId}/allergyId/{id}
          method: PUT

  deleteAllergy:
    handler: src/handlers/alergias.deleteAllergy
    events:
      - httpApi:
          path: /allergies/{userId}/allergyId/{id}
          method: DELETE

# Type Allergy
  createTypeAllergyTable:
    handler: src/handlers/tipoAlergia.initializeTable
    events:
      - httpApi:
          path: /typeAllergies/createTable
          method: GET

  getAllTypesAllergies:
    handler: src/handlers/tipoAlergia.GetAllTypes
    events:
      - httpApi:
          path: /typeAllergies/getAll
          method: GET

  getTypesAllergiesFiltered:
    handler: src/handlers/tipoAlergia.filterAllergies
    events:
      - httpApi:
          path: /typeAllergies/filterAllergies/{filter}
          method: GET

#MedsType
  createTypesMedsTable:
    handler: src/handlers/tipoMedicamento.initializeTable
    events:
      - httpApi:
          path: /typeMeds/createTable
          method: GET

  getAllMedsTypes:
    handler: src/handlers/tipoMedicamento.GetAllTypes
    events:
      - httpApi:
          path: /typeMeds/getAll
          method: GET

  getMedsTypesFiltered:
    handler: src/handlers/tipoMedicamento.filterMedTypes
    events:
      - httpApi:
          path: /typeMeds/filterMeds/{filter}
          method: GET

#Meds
  initializeMeds:
      handler: src/handlers/medicamento.initializeTable
      events:
        - httpApi:
            path: /meds/initializeMeds
            method: GET

  getMeds:
    handler: src/handlers/medicamento.getMed
    events:
      - httpApi:
          path: /meds/{idMedicamento}
          method: GET

  createMed:
    handler: src/handlers/medicamento.createMed
    events:
      - httpApi:
          path: /meds
          method: POST

  updateMed:
    handler: src/handlers/medicamento.updateMed
    events:
      - httpApi:
          path: /meds/{idMedicamento}
          method: PUT

  deleteMed:
    handler: src/handlers/medicamento.deleteMed
    events:
      - httpApi:
          path: /meds/{idMedicamento}
          method: DELETE

#BloodType
  initializeBloodTypes:
      handler: src/handlers/tipoSangre.initializeTable
      events:
        - httpApi:
            path: /bloodTypes/initializeBloodTypes
            method: GET

  getBloodTypes:
    handler: src/handlers/tipoSangre.getBloodTypes
    events:
      - httpApi:
          path: /bloodTypes
          method: GET

  filterBloodTypes:
    handler: src/handlers/tipoSangre.filterBloodTypes
    events:
      - httpApi:
          path: /bloodTypes/{filter}
          method: GET

#Recipe
  initializeRecipe:
      handler: src/handlers/receta.initializeTable
      events:
        - httpApi:
            path: /recipes/initializeRecipes
            method: GET

  getRecipes:
    handler: src/handlers/receta.getRecipes
    events:
      - httpApi:
          path: /recipes/{userId}
          method: GET

  getRecipe:
    handler: src/handlers/receta.getRecipe
    events:
      - httpApi:
          path: /recipes/{userId}/recipe/{idRecipe}
          method: GET

  createRecipe:
    handler: src/handlers/receta.createRecipe
    events:
      - httpApi:
          path: /recipes
          method: POST

  updateRecipe:
    handler: src/handlers/receta.updateRecipe
    events:
      - httpApi:
          path: /recipes/{userId}/recipe/{idRecipe}
          method: PUT

  deleteRecipe:
    handler: src/handlers/receta.deleteRecipe
    events:
      - httpApi:
          path: /recipes/{userId}/recipe/{idRecipe}
          method: DELETE

#Specialties
  initializeSpecialties:
      handler: src/handlers/especialidad.initializeTable
      events:
        - httpApi:
            path: /specialties/initializeSpecialties
            method: GET

  getSpecialties:
    handler: src/handlers/especialidad.getSpecialties
    events:
      - httpApi:
          path: /specialties
          method: GET

  filterSpecialties:
    handler: src/handlers/especialidad.filterSpecialties
    events:
      - httpApi:
          path: /specialties/filter/{filter}
          method: GET

  createSpecialties:
    handler: src/handlers/especialidad.createSpecialty
    events:
      - httpApi:
          path: /specialties
          method: POST

  updateSpecialties:
    handler: src/handlers/especialidad.updateSpecialty
    events:
      - httpApi:
          path:  /specialties/{idSpecialty}
          method: PUT

  deleteSpecialties:
    handler: src/handlers/especialidad.deleteSpecialty
    events:
      - httpApi:
          path: /specialties/{idSpecialty}
          method: DELETE

#TipoProcedimiento
  initializeProcedureTypes:
      handler: src/handlers/tipoProcedimiento.initializeTable
      events:
        - httpApi:
            path: /procedureTypes/initializeSpecialties
            method: GET

  getProcedureType:
    handler: src/handlers/tipoProcedimiento.getProcedureTypes
    events:
      - httpApi:
          path: /procedureTypes
          method: GET

  filterProcedureType:
    handler: src/handlers/tipoProcedimiento.filterProcedureTypes
    events:
      - httpApi:
          path: /procedureTypes/filter/{filter}
          method: GET

#TipoExamen
  initializeExamTypes:
      handler: src/handlers/tipoExamen.initializeTable
      events:
        - httpApi:
            path: /examType/initializeExamTypes
            method: GET

  getExamTypes:
    handler: src/handlers/tipoExamen.getExamTypes
    events:
      - httpApi:
          path: /examType
          method: GET

  filterExamTypes:
    handler: src/handlers/tipoExamen.filterExamTypes
    events:
      - httpApi:
          path: /examType/filter/{filter}
          method: GET

#Procedure
  initializeProcedure:
      handler: src/handlers/procedimiento.initializeTable
      events:
        - httpApi:
            path: /procedures/initializeProcedures
            method: GET

  getProcedures:
    handler: src/handlers/procedimiento.getProcedures
    events:
      - httpApi:
          path: /procedures/{userId}
          method: GET

  getProcedure:
    handler: src/handlers/procedimiento.getProcedure
    events:
      - httpApi:
          path: /procedures/{userId}/procedure/{idProcedure}
          method: GET

  createProcedure:
    handler: src/handlers/procedimiento.createProcedure
    events:
      - httpApi:
          path: /procedures
          method: POST

  updateProcedure:
    handler: src/handlers/procedimiento.updateProcedure
    events:
      - httpApi:
          path: /procedures/{userId}/procedure/{idProcedure}
          method: PUT

  deleteProcedure:
    handler: src/handlers/procedimiento.deleteProcedure
    events:
      - httpApi:
          path: /procedures/{userId}/procedure/{idProcedure}
          method: DELETE

#Professional
  initializeProfessional:
      handler: src/handlers/profesional.initializeTable
      events:
        - httpApi:
            path: /examType/initializeProfessionals
            method: GET

  getProfessional:
    handler: src/handlers/profesional.GetAllProfessionals
    events:
      - httpApi:
          path: /professionals/all
          method: GET

  filterProfessional:
    handler: src/handlers/profesional.filterProfessionals
    events:
      - httpApi:
          path: /professionals/filter/{filter}
          method: GET

  createProfessional:
    handler: src/handlers/profesional.createProfessional
    events:
      - httpApi:
          path: /professionals
          method: POST

  updateProfessional:
    handler: src/handlers/profesional.updateProfessional
    events:
      - httpApi:
          path:  /professionals/{idProfessional}
          method: PUT

  deleteProfessional:
    handler: src/handlers/profesional.deleteProfessional
    events:
      - httpApi:
          path: /professionals/{idProfessional}
          method: DELETE

#Exam
  initializeExams:
      handler: src/handlers/examen.initializeTable
      events:
        - httpApi:
            path: /examType/initializeExams
            method: GET

  getExams:
    handler: src/handlers/examen.getExams
    events:
      - httpApi:
          path: /exams/{userId}
          method: GET

  getExam:
    handler: src/handlers/examen.getExam
    events:
      - httpApi:
          path: /exams/{userId}/exam/{idExam}
          method: GET

  createExam:
    handler: src/handlers/examen.createExam
    events:
      - httpApi:
          path: /exams
          method: POST

  updateExam:
    handler: src/handlers/examen.updateExam
    events:
      - httpApi:
          path:  /exams/{userId}/exam/{idExam}
          method: PUT

  deleteExam:
    handler: src/handlers/examen.deleteExam
    events:
      - httpApi:
          path: /exams/{userId}/exam/{idExam}
          method: DELETE

#Diagnosis
  initializeDiagnosis:
      handler: src/handlers/diagnostico.initializeTable
      events:
        - httpApi:
            path: /diagnosises/initializeDiagnosis
            method: GET

  getDiagnosises:
    handler: src/handlers/diagnostico.getDiagnosises
    events:
      - httpApi:
          path: /diagnosises/{userId}
          method: GET

  getDiagnosis:
    handler: src/handlers/diagnostico.getDiagnosis
    events:
      - httpApi:
          path: /diagnosises/{userId}/diagnosis/{idDiagnosis}
          method: GET

  createDiagnosis:
    handler: src/handlers/diagnostico.createDiagnosis
    events:
      - httpApi:
          path: /diagnosises
          method: POST

  updateDiagnosis:
    handler: src/handlers/diagnostico.updateDiagnosis
    events:
      - httpApi:
          path: /diagnosises/{userId}/diagnosis/{idDiagnosis}
          method: PUT

  deleteDiagnosis:
    handler: src/handlers/diagnostico.deleteDiagnosis
    events:
      - httpApi:
          path: /diagnosises/{userId}/diagnosis/{idDiagnosis}
          method: DELETE

#Consultation
  initializeConsultation:
      handler: src/handlers/consulta.initializeTable
      events:
        - httpApi:
            path: /consultations/initializeConsultation
            method: GET

  getConsultations:
    handler: src/handlers/consulta.getConsultations
    events:
      - httpApi:
          path: /consultations/{userId}
          method: GET

  getConsultation:
    handler: src/handlers/consulta.getConsultation
    events:
      - httpApi:
          path: /consultations/{userId}/consultation/{idConsultation}
          method: GET

  createConsultation:
    handler: src/handlers/consulta.createConsultation
    events:
      - httpApi:
          path: /consultations
          method: POST

  updateConsultation:
    handler: src/handlers/consulta.updateConsultation
    events:
      - httpApi:
          path: /consultations/{userId}/consultation/{idConsultation}
          method: PUT

  deleteConsultation:
    handler: src/handlers/consulta.deleteConsultation
    events:
      - httpApi:
          path: /consultations/{userId}/consultation/{idConsultation}
          method: DELETE

#Patient
  initializePatients:
      handler: src/handlers/paciente.initializeTable
      events:
        - httpApi:
            path: /patients/initializePatient
            method: GET

  getPatients:
    handler: src/handlers/paciente.getPatients
    events:
      - httpApi:
          path: /patients
          method: GET

  getPatient:
    handler: src/handlers/paciente.getPatient
    events:
      - httpApi:
          path: /patients/{userId}
          method: GET

  createPatient:
    handler: src/handlers/paciente.createPatient
    events:
      - httpApi:
          path: /patients
          method: POST

  updatePatient:
    handler: src/handlers/paciente.updatePatient
    events:
      - httpApi:
          path: /patients/{userId}
          method: PUT

  deletePatient:
    handler: src/handlers/paciente.deletePatient
    events:
      - httpApi:
          path: /patients/{userId}
          method: DELETE

#Historical Consultations

  getHistoricConsultations:
    handler: src/handlers/historial_consulta.getHistoricConsultations
    events:
      - httpApi:
          path: /HistoricConsultations
          method: GET

  getHistoricConsultation:
    handler: src/handlers/historial_consulta.getHistoricConsultation
    events:
      - httpApi:
          path: /HistoricConsultations/{id}
          method: GET

  createHistoricConsultation:
    handler: src/handlers/historial_consulta.createHistoricConsultation
    events:
      - httpApi:
          path: /HistoricConsultations
          method: POST

  deleteHistoricConsultation:
    handler: src/handlers/historial_consulta.deleteHistoricConsultation
    events:
      - httpApi:
          path: /HistoricConsultations/delete/{id}
          method: DELETE

  streamHistoricConsultation:
    handler: src/handlers/historial_consulta.streamHistoricConsultation
    environment:
      SERVICE_NAME: ${self:service}
      REGION: ${self:provider.region}
    events:
      - stream:
          type: dynamodb
          arn:
            Fn::GetAtt:
              - HistoricConsultationTable
              - StreamArn

  connectionsHistoricConsultation:
    handler: src/handlers/historial_consulta.connectionsHistoricConsultation
    events:
      - websocket:
          route: $connect
      - websocket:
          route: $disconnect

#Randomizer
  randomizeData:
    handler: src/handlers/randomizer.randomize
    events:
      - httpApi:
          path: /randomize
          method: GET